* { margin: 0; padding: 0; }
	
body { 
	background:url("img/bg_beige2.jpg") repeat scroll left top white;
	font: 14px arial, sans-serif;
}

html body div.opaque{
	opacity: 1;
}

/*div { position: absolute; }*/

img{ display: inline-block; }

svg.icon path{
	fill: white;
	stroke: none;
}

span.svgicon{
	display: inline-block;
    padding-right: 5px;
    vertical-align: -4px;
    width: 18px;
    height: 18px;
}
span.svgicon[onclick]{
	cursor: pointer;
}

a, a:visited, a:active {
	color: brown;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
a:hover {
	color: red;
	text-decoration: underline;
}

a.button {
	outline: none;
	cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background-color: #d0d0d0;
    background: -webkit-linear-gradient(#f9f9f9, #d0d0d0);
    background: -moz-linear-gradient(#f9f9f9, #d0d0d0);
    background: -ms-linear-gradient(#f9f9f9, #d0d0d0);
    background: -o-linear-gradient(#f9f9f9, #d0d0d0);
    border: 1px solid #888;
    padding: 6px 24px;
    margin: 8px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.9);
    border-radius: 18px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(255,255,255,.6);
    vertical-align: 16px;
    user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

a.button.square{
	border-radius: 3px;
	padding: 6px 10px;
}

a.button.small{
	padding: 1px 6px;
	vertical-align: 0;
	margin: 0 5px;
}

a.button.red{
	color: red;
}

a.button:hover {
    background-color: #dadada;
    background: -webkit-linear-gradient(#fafafa, #dadada);
    background: -moz-linear-gradient(#fcfcfc, #dcdcdc);
    background: -ms-linear-gradient(#fafafa, #dadada);
    background: -o-linear-gradient(#fafafa, #dadada);
    box-shadow: 0 0 3px #bbb;
}
#top a.button:hover{ box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(255,255,255,.6); }

a.button:active {
    position: relative;
    top: 1px;
    background-color: #eee;
    background: -webkit-linear-gradient(#dadada, #fafafa);
    background: -moz-linear-gradient(#dadada, #fafafa);
    background: -ms-linear-gradient(#dadada, #fafafa);
    background: -o-linear-gradient(#dadada, #fafafa);
}

a.button .before{
	border-right: 2px groove white;
    display: inline-block;
    height: 25px;
    margin: -6px 3px -16px -18px;
    padding: 3px 3px 4px 0;
    vertical-align: 6px;
}
@-moz-document url-prefix() { a.button .before{ vertical-align: 5px; }}
a.button .after{
	border-left: 2px groove white;
    display: inline-block;
    height: 25px;
    margin: -6px -18px -16px 3px;
    padding: 3px 1px 4px 0;
    vertical-align: 6px;
}

a.button.left{
	width: 26px;
	height: 26px;
	border-right: none;
	border-radius: 18px 0 0 18px;
	padding: 3px 3px 3px 5px;
	margin-right: 0;
	vertical-align: 12px;
}
a.button.middle{
	height: 26px;
	line-height: 26px;
	width: 70px;
	overflow: hidden;
	border-left: 2px groove white;
	border-right: none;
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 3px;
	vertical-align: top;
	text-align: center;
}
a.button.right{
	width: 26px;
	height: 26px;
	border-left: 2px groove white;
	border-radius: 0 18px 18px 0;
	padding: 3px 5px 3px 2px;
	margin-left: 0;
	vertical-align: 12px;
}
a.button svg.icon path{
	fill: #bbb;
	stroke: #444;
}
a.button:hover svg.icon path{
	fill: orange;
	stroke: #444;
}

a.button .smaller{
    height: 20px;
    padding: 5px 3px 7px 0;
}

a.button span.btnsection{
	border-left: 2px groove white;
	padding-left: 3px;
	margin-left: 5px;
}

  

a.button:before, a.button:after {
        background: #ccc;
        background: rgba(100,100,100,.1);
        font-size: 24px;
        line-height: 15px;
        margin: 0 16px 0 -23px;
        padding: 1px 4px 2px 6px;
        border-right: 2px groove white;
        border-radius: 20px 0 0 20px;
        vertical-align: -3px;
        pointer-events: none;
}

/*for firefox*/
@-moz-document url-prefix() { a.button:before, a.button:after { padding: 0 4px 3px 6px; vertical-align: -1px; } }

a.button:after {
        margin-left: 16px;
        margin-right: -23px;
        padding-left: 4px;
        padding-right: 6px;
        border-left: 2px groove white;
        border-right: none;
        border-radius: 0 20px 20px 0;
}

a.square:before, a.square:after {
	border-radius: 5px;
}

/*#top a.undo:before { content: "\21BA"; }
#top a.redo:after { content: "\21BB"; }*/
#top a.default:after { content: "\25FB"; padding-bottom: 4px }
#top a.columns:after { content: "\25A5"; vertical-align: -3px; padding: 2px 8px 2px 6px; }
#top a.rows:after { content: "\25A4"; vertical-align: -3px; padding: 2px 8px 2px 6px; }

#top div.buttonblock{
	position:absolute;
	top:20px;
}

#zoombtns { vertical-align: bottom; }
a.zoom {
	margin: 8px 2px;
	font-size: 32px;
    font-weight: normal;
    line-height: 14px;
    padding: 9px 8px;
    width: 18px;
    text-align: center;
    vertical-align: bottom;
}
#zoomout{ padding-bottom: 11px; padding-top: 7px; }
/*webkit*/
@media screen and (-webkit-min-device-pixel-ratio:0){ 
	#top a.default:after { padding-bottom: 2px }
	#top a.columns:after { padding-top: 1px; } 
	#top a.rows:after { padding-top: 1px; }
}


#filewrap{
	text-transform: capitalize;
	white-space: nowrap;
}
#filewrap img{
	position: absolute;
	right: 5px;
	height: 20px;
	vertical-align: bottom;
}
div.buttonmenuwrap{
	display: none;
	position: absolute;
	top:62px;
	left: 3px;
	min-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	border-top: 1px solid #888;
	z-index: 50;
}
div.buttonmenuwrap .topshadow{
	position: absolute;
	width: 90%;
	left: 5%;
	top: -15px;
	height: 10px;
	box-shadow: 0 0 28px black;
}
div.buttonmenuwrap .menuborder{
	position: absolute;
	width: 100%;
	height: 1px;
	border-top: 1px solid white;
}
div.buttonmenuwrap .buttonmenu{
	position: relative;
	background-color: white;
	background-color: rgba(255,255,255,0.95);
	margin: -200px 3px 5px 3px;
	font: 18px Arial;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 2px 3px -1px #666;
	-moz-transition: margin-top 0.4s cubic-bezier(0.01,1,1,1);
	-webkit-transition: margin-top 0.4s cubic-bezier(0.01,1,1,1);
	-o-transition: margin-top 0.4s cubic-bezier(0.01,1,1,1);
	transition: margin-top 0.4s cubic-bezier(0.01,1,1,1);
}
div.buttonmenuwrap div.buttonmenu span.right{
	position: absolute;
	right: 5px;
	margin-top: 3px;
	line-height: 15px;
	width: 15px;
	height: 15px;
}
#undomenu ul li span.right{
	right: 3px;
	margin-top: 1px;
	padding: 2px;
	background-color: white;
	border-radius: 9px;
}
div.buttonmenuwrap .buttonmenu svg.icon path{
	fill: #666;
	stroke: none;
} 
div.buttonmenuwrap .buttonmenu ul{
	margin: 0;
	padding: 0;
}
div.buttonmenuwrap .buttonmenu ul li{
	list-style-type:none;
	margin: 0;
	padding: 3px 6px;
	cursor: pointer;
	border-top: 1px solid #999;
}
div.buttonmenuwrap .buttonmenu ul li:hover{
	background-color: #99c5f6;
}



#page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 600px;
	min-width: 1000px;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 90px;
	background: url(img/bg_top.jpg) repeat-x bottom left;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 -1px 0 0 rgba(255, 255, 255, 0.4) inset;
}
.toptext{
	position: absolute;
	top: 45px;
	width: 100%;
	color: #555;
	text-shadow: 0 1px 0 white;
	text-align: center;
	cursor: default;
}

#left {
	position: absolute;
	top: 130px;
	left: 10px;
	bottom: 68px;
	width: 300px;
	overflow: hidden;
}

 #treewrap{
 	position: absolute;
 	display: none;
 	top: 0;
 	left: 0;
 	right: 10px;
 	bottom: 15px;
 	background-color: white;
 	box-shadow: -3px 0 3px -3px rgba(0, 0, 0, 0.6) inset;
 }
 
 #tree circle, #names text{
 	cursor: pointer;
 }
 #left.dragmode #tree circle, #left.dragmode #names text{
 	cursor: default;
 } 
 
 #treewrap.minimal #tree circle, #treewrap.minimal #tree line[stroke-dasharray], #treewrap.minimal #names svg{
 	display: none;
 }
 
  #tree{
 	position: absolute;
 	top: 0;
 	left: 0;
 	right: 50px;
 	height: 100%;
  }
  
  #tree line{
  	stroke: rgb(0,0,0);
  	stroke-width: 1;
  	stroke-linecap: round;
  }
  
  
  #left.dragmode #tree line.horizontal{
  	stroke: rgb(170,170,170);
  	stroke-width: 6;
  	stroke-dasharray: none;
  	stroke-linecap: butt;
  }
  
  #left.dragmode #tree line.horizontal:hover{
  	stroke: orange;
  }
  
  #notree{
  	position: absolute;
  	display: none;
  	top: 40%;
  	width: 80%;
  	text-align: center;
  	font-size: 36px;
    color: #EEE9E3;
    text-shadow: 0 0 1px #BBB9B3, 0 -1px 1px #666165;
  }
  
  #names{
 	position: absolute;
 	top: 0;
 	margin-top: 3px;
 	right: 0;
 	width: 50px;
 	height: 100%;
 	border-left: 1px solid white;
 	transition: border-color 0.5s;
 	-moz-transition: border-color 0.5s;
 	-webkit-transition: border-color 0.5s;
 	-o-transition: border-color 0.5s;
 	box-shadow: -1px 0 0 #ccc inset, -2px -2px 3px #ddd inset;
 	overflow: hidden;
 	background-color: white;
 	white-space: nowrap;
  }
  #names span{
  	display: block;
  	position: relative;
  	cursor: default;
  	padding-left: 3px; 
  	font-family: Verdana;
  	-moz-transition: height 0.5s;
 	-webkit-transition: height 0.5s;
 	-o-transition: height 0.5s;
 	transition: height 0.5s;
  }
  #names span:hover{
  	color: red;
  }
  
  #bottomfade{
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 10px;
	background: -webkit-linear-gradient(rgba(255,255,255,0), #fef9e6);
	background: -moz-linear-gradient(rgba(255,255,255,0), #fef9e6);
	background: -ms-linear-gradient(rgba(255,255,255,0), #fef9e6);
	background: -o-linear-gradient(rgba(255,255,255,0), #fef9e6);
  }
  #topfade{
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	height: 10px;
	background: -webkit-linear-gradient(#fef9e6, rgba(255,255,255,0));
	background: -moz-linear-gradient(#fef9e6, rgba(255,255,255,0));
	background: -ms-linear-gradient(#fef9e6, rgba(255,255,255,0));
	background: -o-linear-gradient(#fef9e6, rgba(255,255,255,0));
  }
  
  
 #borderDrag{
 	position: absolute;
 	right: 0;
 	top: 30%;
 	color: #999;
 	font-size: 20px;
 	height: 200px;
 	width: 10px;
 	line-height: 200px;
 	text-align: center;
 	cursor: move;
 	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
 }


#namelabel{
	position: absolute;
	font-family: Verdana;
	opacity: 0;
	overflow: hidden;
	z-index: 25;
	border-radius: 0 3px 3px 0;
	box-shadow: 2px 1px 2px rgba(0,0,0,0.4);
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
}
#namelabel span, #draggedlabel{
	border-radius: 5px;	
	background-color: white;
	padding: 2px;
	color: red;
}

#draggedlabel{
	position: fixed;
	font-family: Verdana;
	box-shadow: 2px 2px 4px #444;
	z-index: 35;
}

#draggedtree{
	position: fixed;
	opacity: 0.9;
	box-shadow: 2px 2px 5px #444;
	border-radius: 3px;
	z-index: 35;
}


#right {
	position: absolute;
	left: 310px;
	right: 0;
	top: 100px;
	bottom: 50px;
}

 #namesborderDragline{
 	position: absolute;
 	left: -150px;
 	top: 15px;
 	width: 141px;
 	height: 0;
 	border: 1px solid #ccc;
 	border-bottom-color: #eee;
 	border-radius: 2px;
 	box-shadow: 0 1px 0 #ccc;
 }
 #right.dragmode #namesborderDragline{ display: none }
 #namesborderDrag{
 	position: absolute;
 	left: 83px;
 	top: -10px;
 	color: #999;
 	height: 20px;
 	width: 10px;
 	text-align: center;
 	cursor: move;
 	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 0px 2px #555;
	background: -webkit-linear-gradient(#fcfcfc, #ddd);
	background: -moz-linear-gradient(#fcfcfc, #ddd);
	background: -ms-linear-gradient(#fcfcfc, #ddd);
	background: -o-linear-gradient(#fcfcfc, #ddd);
 }
 #namesborderDrag:hover{ box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 0px 3px #333; }
 
  #page div.treescroll{
 	position: absolute;
 	left: 20px;
 	height: 32px;
 	padding-top: 2px;
 	border-radius: 5px;
 	color: #333;
 	text-align: center;
 	text-shadow: 0 1px 1px white;
 	font-size: 20px;
 	cursor: default;
 	z-index: 1;
 }
 #page div.treescroll.up{
 	top: 98px;
 	background: -webkit-linear-gradient(rgba(200,200,200,0.9), rgba(200,200,200,0));
	background: -moz-linear-gradient(rgba(200,200,200,0.9), rgba(200,200,200,0));
	background: -ms-linear-gradient(rgba(200,200,200,0.9), rgba(200,200,200,0));
	background: -o-linear-gradient(rgba(200,200,200,0.9), rgba(200,200,200,0));
	box-shadow: 0 1px 1px #888 inset;
 }
 #page div.treescroll.down{
 	bottom: 36px;
 	line-height: 36px;
 	background: -webkit-linear-gradient(rgba(200,200,200,0), rgba(200,200,200,0.9));
	background: -moz-linear-gradient(rgba(200,200,200,0), rgba(200,200,200,0.9));
	background: -ms-linear-gradient(rgba(200,200,200,0), rgba(200,200,200,0.9));
	background: -o-linear-gradient(rgba(200,200,200,0), rgba(200,200,200,0.9));
 	box-shadow: 0 -1px 1px #888 inset;
 }

img#leftshadow{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 42px;
}
img#rightshadow{
	position: absolute;
	right: -1px;
	top: 0;
	height: 100%;
	width: 51px;
}

#treebin{
	position: absolute;
	background: rgba(0,0,0,0.7);
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	display: none;
	opacity: 0.3;
	transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}
#right.dragmode #treebin{
	display: block;
}
#right.dragmode:hover #treebin{
	opacity: 1;
}
#treebin > div{
	top: 40%;
	left: 30%;
	position: absolute;
	width: 120px;
	height: 120px;
}
#treebin svg.icon path{
	fill: rgba(255,255,255,0.6);
}


#seqwindow {
	position: absolute;
	top: 0;
	left: 0;
	right: 30px;
	bottom: 20px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-top: none;
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
 #spinner{
 	display: none;
 	position: absolute;
 	opacity: 0;
 	top: 50%;
 	left: 40%;
 }
 #wrap {
 	position: absolute;
 	left: 0;
 }
  #ruler {
  	position: relative;
  	margin-top: 3px;
  	margin-left: 0;
  	padding: 1px 0;
	height: 20px;
	font-weight: bold;
	background-image: -o-linear-gradient(#dadada 20%, #efefef 60%, #ffffff 100%);
	background-image: -moz-linear-gradient(#dadada 20%, #efefef 60%, #ffffff 100%);
	background-image: -webkit-linear-gradient(#dadada 20%, #efefef 60%, #ffffff 100%);
	background-image: -ms-linear-gradient(#dadada 20%, #efefef 60%, #ffffff 100%);
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 1px white inset, 0 -2px 2px #ccc inset;
	white-space: nowrap;
	z-index: 1;
	cursor: move;
  }
  
    #ruler span{
    	display: inline-block;
    	margin-top: 1px;
    	padding-left: 2px;
    	border-left: 2px groove white;
    	height: 18px;
    	line-height: 18px;
    	width: 60px;
    	color: #444;
    	text-shadow: 0 1px 0 white;
    }
    #ruler span span{
    	position: relative;
    	padding: 0;
    	margin: 0;
    	border: none;
    }
    #ruler div.marker{
    	position: absolute;
    	top:6px;
    	color: #7e0100;
    	text-shadow: 0 2px 0 white;
    	cursor: pointer;
    	z-index: 21;
    }

#seqwrap {
	position: relative;
	padding-top: 5px;
	margin-left: 0;
	overflow: hidden;
	background-color: white;
}

#seq{ position: relative; }

#seq div.tile{
	position: absolute;
	opacity: 0;
	-moz-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
  
#verticalDragger{
	position: absolute;
	top: 20px;
	right: 12px;
	bottom: 40px;
	border-left: 2px solid #bbb;
	border-right: 2px solid #eee;
	border-radius: 2px;
	z-index: 25;
	box-shadow: 1px 0 0 #ddd;
	cursor: pointer;
}
  .dragger{
  	position: absolute;
	background-color: #ececec;
	/*border: 1px solid #bbb;*/
	border-radius: 7px;
	cursor: move;
	width: 13px;
	height: 13px;
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 0 2px #555;
  }
  .dragger:hover{
  	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 0 3px #333;
  }
  #verticalDragger .dragger{
	margin-left: -6px;
	background: -webkit-linear-gradient(left, #fafafa, #dadada);
	background: -moz-linear-gradient(left, #fafafa, #dadada);
	background: -ms-linear-gradient(left, #fafafa, #dadada);
	background: -o-linear-gradient(left, #fafafa, #dadada);
  }
  #verticalDragger .dragger_pressed{
	background: -webkit-linear-gradient(left, #dadada, #fafafa);
	background: -moz-linear-gradient(left, #dadada, #fafafa);
	background: -ms-linear-gradient(left, #dadada, #fafafa);
	background: -o-linear-gradient(left, #dadada, #fafafa);
  }
#horizontalDragger{
	position: absolute;
	left: 20px;
	right: 45px;
	bottom: 3px;
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #eee;
	border-radius: 2px;
	z-index: 25;
	box-shadow: 0 1px 0 #ddd;
	cursor: pointer;
}
  #horizontalDragger .dragger{
	margin-top: -6px;
	background: -webkit-linear-gradient(#fafafa, #dadada);
	background: -moz-linear-gradient(#fafafa, #dadada);
	background: -ms-linear-gradient(#fafafa, #dadada);
	background: -o-linear-gradient(#fafafa, #dadada);
	overflow: hidden;
  }
  #horizontalDragger .dragger_pressed{
	background: -webkit-linear-gradient(#dadada, #fafafa);
	background: -moz-linear-gradient(#dadada, #fafafa);
	background: -ms-linear-gradient(#dadada, #fafafa);
	background: -o-linear-gradient(#dadada, #fafafa);
  }
  .scrollBtn{
  	position: absolute;
  	font-size: 24px;
  	font-weight: bolder;
  	height: 20px;
  	line-height: 20px;
  	color: #ddd;
  	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px;
  	cursor: pointer;
  	overflow: hidden;
  	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .scrollBtn:hover{
  	color: #bbb;
  }
  .scrollLeftBtn{
  	top: -10px;
  	left: -20px;
  }
  .scrollRightBtn{
  	top: -10px;
  	right: -20px;
  }
  .scrollUpBtn{
  	top: -25px;
  	left: -7px;
  }
  .scrollDownBtn{
  	bottom: -25px;
  	left: -7px;
  }
  
  
  
  
#bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	margin-top: 100px;
}

div.tooltip{
	position: absolute;
	background-color: rgba(0,0,0,0.87);
	border: 2px solid #FFF;
	border-radius: 5px;
	box-shadow: 0 1px 5px #333;
	font: 15px Arial;
	color: white;
	padding: 1px;
	z-index: 30;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out, -o-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

div.tooltip.opaque{
	opacity: 1;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
}

.tooltip .arrow{
	position: absolute;
	display: none;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg) skewX(-10deg) skewY(-10deg);
  	-moz-transform: rotate(45deg) skewX(-10deg) skewY(-10deg);
   	-ms-transform: rotate(45deg) skewX(-10deg) skewY(-10deg); 
    -o-transform: rotate(45deg) skewX(-10deg) skewY(-10deg);
	background-color: rgba(0,0,0,0.87);
	box-shadow: 0 0 3px #333;
}
.tooltip.leftarrow{
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}
.tooltip.leftarrow > .arrow{
	display: block;
	left: -9px;
	top: 4px;
	border-left: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}
.tooltip.toparrow{
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}
.tooltip.toparrow > .arrow{
	display: block;
	left: 50%;
	margin-left: -7px;
	top: -8px;
	border-left: 2px solid #FFF;
	border-top: 2px solid #FFF;
}
.tooltip.bottomarrow{
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}
.tooltip.bottomarrow > .arrow{
	display: block;
	left: 50%;
	margin-left: -7px;
	top: auto;
	bottom: -8px;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}

.tooltip canvas{ vertical-align: -5px; }

.tooltiptitle{
	position: relative;
	padding: 1px 3px;
}
.tooltip .right{
	position:absolute;
	right:10px;
	line-height:18px;
}
.tooltip li.arr {
	padding-right: 13px;
}
.tooltip li.arr .right{
	right: 3px;
}
div.tooltiptitle span.right{
	right: 5px;
}

div.tooltipcontentwrap{
	position: relative;
	transition: height 0.3s cubic-bezier(0.01,1,1,1);
	-webkit-transition: height 0.3s cubic-bezier(0.01,1,1,1);
	-moz-transition: height 0.3s cubic-bezier(0.01,1,1,1);
	-o-transition: height 0.3s cubic-bezier(0.01,1,1,1);
}
div.tooltipcontentwrap.hidden{
	height: 0;
	overflow: hidden;
}

div.tooltip ul{
	margin: 0;
	padding: 0;
	border-top: 1px solid #999;
}
div.tooltip.nomenu ul{ border-top: none; margin: 0 3px; }

div.tooltip ul li{
	list-style-type:none;
	margin: 0;
	padding: 2px;
	cursor: pointer;
}
div.tooltip.nomenu ul li{ list-style: disc inside; }

div.tooltip ul li:first-child{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
div.tooltip ul li:last-child{
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
div.tooltip ul li:hover{
	text-shadow: 0 1px 3px #333;                             
	background: -webkit-linear-gradient(#6589ff,#1943f3);
	background: -moz-linear-gradient(#6589ff,#1943f3);
	background: -ms-linear-gradient(#6589ff,#1943f3);
	background: -o-linear-gradient(#6589ff,#1943f3);	
}


#seq div.selection{
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	color: white;
	border: 1px solid white;
	box-shadow: 0 0 3px #666;
	display: none;
	opacity: 1;
	z-index: 2;
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
#seq div.selection div.description{
	font: 15px Arial;
	text-shadow: 0 0 3px black;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	opacity: 1;
}

#seq div.selection div.rbresize, #seq div.selection div.ltresize{
	position: absolute;
	height: 50%;
	max-height: 10px;
	width: 50%;
	max-width: 10px;
	opacity: 0;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
}
#seq div.selection div.rbresize{
	right: 3px;
	bottom: 3px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	cursor: se-resize;
}
#seq div.selection div.ltresize{
	left: 3px;
	top: 3px;
	border-left: 2px solid white;
	border-top: 2px solid white;
	cursor: nw-resize;
}

#seq div.selectioncross{
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	display: none;
	opacity: 1;
	z-index: 1;
	box-shadow: 0 0 3px #666;
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: 1px solid white;
}

#seq div.selectioncross div.rresize, #seq div.selectioncross div.lresize{
	position: absolute;
	height: 100%;
	width: 50%;
	max-width: 10px;
	opacity: 0;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
}
#seq div.selectioncross div.rresize{
	right: 2px;
	top: 0;
	border-right: 2px solid white;
	cursor: e-resize;
}
#seq div.selectioncross div.lresize{
	left: 2px;
	top: 0;
	border-left: 2px solid white;
	cursor: w-resize;
}

#seq div.selectioncross div.tresize, #seq div.selectioncross div.bresize{
	position: absolute;
	width: 100%;
	height: 50%;
	max-height: 10px;
	opacity: 0;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
}
#seq div.selectioncross div.tresize{
	left: 0;
	top: 2px;
	border-top: 2px solid white;
	cursor: n-resize;
}
#seq div.selectioncross div.bresize{
	left: 0;
	bottom: 2px;
	border-bottom: 2px solid white;
	cursor: s-resize;
}

#right div.rowborder{
	position: absolute;
	display: none;
	opacity: 0;
	left: 0;
	width: 100%;
	border: 1ps solid black;
	box-shadow: 0 0 5px black;
	-webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    z-index: 1;
}
#right div.rowborder.opaque{
	opacity: 1;
	-webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
    transition: top 0.4s ease-out;
}


#backfade{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 32;
	/*background-color: rgba(0,0,0,0.6);*/
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
	background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
	-webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
	display: none;
}

div.zoomin{
	opacity: 0;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out, -moz-transform 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
div.zoomed{
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

div.popupwrap{
	position: absolute;
	top: 50px;
	left: 40%;
	-webkit-perspective: 500px;
	-moz-perspective: 700px;
	perspective: 700px;
	z-index: 33;
}
/*div.popupwrap div{ -moz-transform-style: preserve-3d; -moz-backface-visibility: hidden; }*/

div.popupwindow{
	position: absolute;
	top: 100px;
	left: 20%;
	background: #f0f0f0;
	box-shadow: 0 5px 15px -3px #000000, 0 0 1px 1px rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 1px 0 white;
	border-radius: 5px;
	white-space: nowrap;
	z-index: 33;
}
div.popupwrap div.popupwindow{
	top: 0;
	left: 0;
}

div.popupwindow div.sectiontitle{
	position: relative;
	height: 1px;
	border-top: 2px groove white;
	text-align: center;
	margin: 10px 0 15px 0;
}
div.popupwindow div.sectiontitle>span{
	position: relative;
	top: -10px;
	background-color: #f0f0f0;
	padding: 0 10px;
	font-weight: bold;
}
div.popupwindow div.sectiontitle>span.svg{
	position: absolute;
	right: 0;
	display: inline-block;
	top: -12px;
	background-color: #f0f0f0;
	padding: 0 0 0 5px;
	height: 20px;
	width: 20px;
}
div.popupwindow div.sectiontitle>span.svg path{ fill: #666 }
div.popupwindow div.sectiontitle>img{
	display: inline-block;
	position: absolute;
	left: 0;
	padding-right: 5px;
	height: 20px;
	background-color: #f0f0f0;
	top: -12px;
}
div.popupwindow div.sectiontxt{
	white-space: normal;
	padding:0 10px 10px;
}
	


div.side{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -moz-transition: -moz-transform 0.7s ease-in-out;
    -o-transition: -o-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
}

div.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	z-index: 34;
}
div.flipped div.back{
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	z-index: 35;
}

div.front {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	z-index: 35;
}
div.flipped div.front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: 34;
}

img.closebtn{
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	cursor: pointer;
}

div.windowtitle{
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	font-size: 24px;
	text-align: center;
	text-shadow: 0 1px 1px white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url("img/bg_top.jpg") repeat-x scroll left center white;
	cursor: move;
	border-bottom: 1px solid white;
	box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.6) inset, 0 1px 0 0 white inset;
}

div.windowheader{
	margin-top: 40px;
	position: relative;
	padding: 5px 5px 5px 10px;
}
div.windowcontent{
	margin-bottom: 10px;
	position: relative;
	padding: 10px;
	padding-top: 1px;
	max-height: 600px;
	min-width: 300px;
	max-width: 500px;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

div.windowcontent a.button.square{
	border-radius: 3px;
	padding: 4px 8px;
}

div.windowcontent ul{ margin-left: 20px; }

div.windowcontent div.btndiv{ text-align: center; }

div.windowcontent span.cell{
	display: inline-block;
	padding: 0 10px 5px 5px;
}

div.filedrag{
	display: inline-block;
	position: relative;
	width: 200px;
	height: 20px;
	margin: 10px;
	border: 2px dashed #aaa;
	color: #aaa;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}

div.dragover{
	background-color: #eee;
	text-shadow: 0 1px 1px white;
	border-color: orange;
}

input{
	width: 20px;
	font-size: 16px;
	border: 1px solid #999;
	margin: 0 5px 5px 0;
	padding-left: 5px;
	border-radius: 3px;
	background: white url(img/input_bg.png) top left repeat-x;
	box-shadow: 0 1px 0 white;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
input:hover, input.transparent:hover, input:focus, input.transparent:focus, input.hidden:focus{
	border-color: #555;
	background-color: white;
}

input.transparent{
	background: rgba(255,255,255,0.1);
	border-color: rgba(100,100,100,0.1);
	width: 250px;
}
input.hidden{
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	width: 250px;
}
input.hidden:hover{ background: rgba(255,255,255,0.6); }
#library input.transparent, #library input.hidden{
	margin: 0;
	font-size: 14px;
	height: 18px;
	padding-left: 3px;
	width: 220px;
}

input.url{
	width: 300px;
}
input.url:focus:invalid {
    border-color: red;
}
input.url:focus:valid {
    border-color:green;
}

input[type="checkbox"]{
	width: 16px;
	height: 16px;
	margin: 0 3px 5px 5px;
	vertical-align: -2px;
}

span.label{
	cursor: default;
}
form span.label{
	cursor: help;
}
span.label:hover{
	color: orange;
}

a.button.urladd {
	margin: 0 5px;
	font-size: 25px;
    font-weight: normal;
    line-height: 14px;
    padding: 4px 2px 3px;
    width: 18px;
    color: #444;
    text-align: center;
    vertical-align: -2px;
}
a.button.urladd:hover {
	color: black;
	box-shadow: 0 0 2px #bbb;
}

span.icon{ margin-left:5px }

img.icn{ height: 20px; vertical-align: bottom; }
img.icn.action{ cursor: pointer; }
img.icn.action:hover{ box-shadow: 0 1px 2px #999 inset; }

img.windowicn{
    position: absolute;
	height: 25px;
	top: 2px;
    left: 10px;
}
img.optadd,.rotateable{
	display: inline-block;
	cursor: pointer;
	text-shadow: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.rotated{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.rotateddown{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}


div.insidediv{
	padding: 10px 10px 5px 10px;
	margin: 5px 0 -10px;
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.4) inset, 0 -4px 3px -4px rgba(0, 0, 0, 0.4) inset;
}
div.insidediv.logdiv{
	color: #666;
	max-width: 400px;
	max-height: 300px;
	overflow: auto;
	margin-bottom: 5px;
	padding-top: 5px;
	display: none;
}
#jobstatus div.insidediv{
	margin-bottom: 10px;
}

div.btndiv a{ margin-left: auto; }

hr{ color:white; box-shadow:0 2px 6px #ddd; margin:5px 0; }

div.itemdiv{
	position: relative;
	min-width: 330px;
	min-height: 40px;
	overflow: hidden;
	-moz-transition: height 0.4s;
	-webkit-transition: height 0.4s;
	-o-transition: height 0.4s;
	transition: height 0.4s;
}
#library div.itemdiv{
	height: 65px;
	padding: 5px 0 0 5px;
	min-width: 370px;
}
div.itemdiv.activeitem{
	background-color: white;
	box-shadow: 0 0 5px #999;
	border-radius: 3px;
}
div.itemdiv a.button.activeitem{
	background: white;
	box-shadow: 0 0 5px #999;
}

div.insidediv > hr:last-child{ display: none; }
div.itemdiv a.button.itembtn{
	position: absolute;
	margin: 0;
	right: 15px;
	top: 25%;
}

#library div.itemdiv a.button.itembtn{
	top: 8px;
	right: 5px;
}

#library div.itemdiv a.button.removebtn{
	border-radius: 3px;
    color: red;
    padding: 3px 8px;
    right: 20px;
    top: 60px;
}

#library div.itemdiv a.button.childbtn{
	border-radius: 3px;
    padding: 3px 5px 3px 3px;
    left: 220px;
    right: auto;
    top: 28px;
}

#library span.dirtrail{
	display: inline-block;
	max-width: 260px;
	overflow: hidden;
	font-weight: bold;
	margin-left: 4px;
	color: #666;
}
#library span.dirtrail a.button.small{
	margin-top: 6px;
	margin-left: 0;
	font-size: 15px;
}
#library span.dirtrail a.button.small:hover{ color: brown; }

div.itemdiv a.button span.svg{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: -4px;
}

div.itemdiv a.button svg path{
	fill: white;
	stroke: black;
}
div.itemdiv a.button:hover svg path{
	fill: orange;
	stroke: black;
}

span.note{
	display: inline-block;
	color: #666;
	cursor: default;
}

span.actiontxt{
	display: inline-block;
	cursor: pointer;
	color: #369;
	-moz-transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
span.actiontxt:hover{ color: orange; }
span.itemexpand{
	position: absolute;
	right: 15px;
	bottom: -3px;
	color: #666;
}

span.logline{
	display: inline-block;
	position: relative;
	max-width:300px;
	margin-right: 10px;
	white-space:nowrap;
	overflow:hidden;
	vertical-align: -4px;
}
span>span.fade{
	display: inline-block;
	position: absolute;
  	top: 0;
  	left: 92%;
  	width: 35px;
  	height: 100%;
	background: -webkit-linear-gradient(left, rgba(240,240,240,0), rgb(240,240,240));
	background: -moz-linear-gradient(left, rgba(240,240,240,0), rgb(240,240,240));
	background: -ms-linear-gradient(left, rgba(240,240,240,0), rgb(240,240,240));
	background: -o-linear-gradient(left, rgba(240,240,240,0), rgb(240,240,240));
}
#library span>span.fade{ left: 89%; }
div.activeitem span>span.fade{
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgb(255,255,255));
	background: -moz-linear-gradient(left, rgba(255,255,255,0), rgb(255,255,255));
	background: -o-linear-gradient(left, rgba(255,255,255,0), rgb(255,255,255));
	background: -ms-linear-gradient(left, rgba(255,255,255,0), rgb(255,255,255));
}

div.paper{
	background: white;
	min-height: 15px;
	padding: 10px 20px;
	margin: 5px 10px 10px 5px;
	white-space: pre;
	float: left;
	border: 1px solid #bbb;
	box-shadow: 0 2px 5px #888;
	font-family: monospace;
}
